{% raw %}{% extends "base.html" %}{% endraw %}
{% raw %}{% block content %}{% endraw %}
<h2>Cybersecurity News</h2>
<form method="GET">
  <input type="text" name="q" placeholder="Search news..." class="form-control mb-2">
</form>
{% raw %}{% for article in news %}{% endraw %}
<div class="card mb-2">
  <div class="card-body">
    <h5>{{ article.title }}</h5>
    <p><b>Source:</b> {{ article.source }} | <b>Date:</b> {{ article.date }}</p>
    <a href="{{ article.url }}" target="_blank">Read more</a>
  </div>
</div>
{% raw %}{% endfor %}{% endraw %}
{% raw %}{% endblock %}{% endraw %}
